.Contact_container {
  margin: 0 auto;
  background-color: #020912;
  position: relative;
  z-index: 10;
  padding: 40px;
  overflow: hidden;
  margin-top: -10px;
}

.contact_head {
  color: white;
  font-family: var(--font-family-main);
  text-align: center;
  font-size: calc(var(--heading-1) + 1rem);
  width: 100%;
  margin-bottom: 50px;
}

.contact_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact_poster{
   max-width: 700px;
}

.contact_poster img{
    width: 100%;
}

.contact_form{
    width: 90%;
}

.contact_form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.contact_form input,button{
    padding: 10px;
    color: black;
}

textarea{
  padding: 10px;
}

@media screen and (max-width:1000px) {
    .contact_div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
      }
      
}
