.Github_container{
    margin: 0 auto;
    background-color: #020912;
    position: relative;
    z-index: 10;
    padding: 20px 10px;
    overflow: hidden;
    margin-top: -10px;
}

.github_head{
    color: white;
    font-family: var(--font-family-main);
    text-align: center;
    font-size: calc(var(--heading-1) + 1rem);
    width: 100%;
    margin-bottom: 45px;
}

.github_holder{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
}

/* #git_one{
    width: 100%;

}

#git_one a {

    text-align: center;
} */

@media screen and (max-width: 1200px) {
    .github_holder{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
    }
}