.table_top {
  animation: parallex_table 2s 1;
}

.books_top {
  animation: parallex_table 3s 1;
}

.pot_top {
  animation: parallex_table 1s 1;
}

/* .person_top {
  animation: parallex_table 3.5s 1;
} */

/* .about_content_form_left{
    animation: about_content_a 2s 1;  
} */

@keyframes parallex_table {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50%{
    opacity: 0.2;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes parallex_books {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50%{
    opacity: 0.2;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes parallex_pot {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50%{
    opacity: 0.2;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

/* @keyframes parallex_person {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
} */

/* @keyframes about_content_a {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    40%{
        transform: translateX(-50px);
        opacity: 0.5;
    }
    70%{
        transform: translateX(50px);
    }
} */