/* .skills {
  background-color: #020912;
} */

.skill_container {
  margin: 0 auto;
  background-color: #020912;
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
  padding: 60px 10px 35px 10px;
  margin-top: -10px;
  overflow: hidden;
}

.skill_head {
  color: white;
  font-family: var(--font-family-main);
  text-align: center;
  font-size: 3rem;
  width: 100%;
  flex-grow: 1;
  align-self: center;
  /* position: relative; */
}

.panner {
  position: absolute;
  top: 120%;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}

/* button styles */
.skill_button {
  height: 100px;
  position: relative;
  width: 100px;
  height: 100px;
  transition: 0.2s;
  /* transform: translate(0, 0) rotateY(0) skewY(0); */
  transition: 0.2s;
  margin: 40px;
}

.svg_icon {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 90px;
}

@media screen and (max-width: 600px) {
  .skill_button {
    width: 70px;
    height: 70px;
    margin: 20px 0;
  }
  .svg_icon {
    font-size: 70px;
  }
}

.skill_button:hover {
  transform: translate(-15px, -5px) rotateY(-15deg) skewY(-10deg);
}

.skill_button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  transform: translate(0, 0);
}

.skill_button span:nth-of-type(4) {
  transform: translate(-4px, -4px);

  transition: 0.2s;
  z-index: 0;
  opacity: 0.5;
  border-top: 5px solid white;
  border-left: 5px solid white;
}

.skill_button:hover span:nth-of-type(1) {
  transform: translate(8px, 4px);
  background-color: #ff0000;
}

.skill_button:hover span:nth-of-type(2) {
  transform: translate(16px, 8px);
  background-color: #ff5252;
}

.skill_button:hover span:nth-of-type(3) {
  transform: translate(24px, 12px);
  background-color: #ff7b7b;
}

.skill_button span:nth-of-type(4)::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom: 5px solid white;
  transition: 0.2s;
}

.skill_button span:nth-of-type(4)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 100%;
  left: 0;
  border-right: 5px solid white;
  transition: 0.2s;
}

.skill_button:hover span:nth-of-type(4)::before {
  width: 100%;
  transition-delay: 0.4s;
}

.skill_button:hover span:nth-of-type(4)::after {
  height: 100%;
  transition-delay: 0.6s;
  top: 0;
}

.skill_button:hover span:nth-of-type(4) {
  transform: translate(30px, 16px);
  background-color: rgba(0, 255, 255, 0.301);
  transition-delay: 0.2s;
}


.background_anime_skill{
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: gray;
  transform: translate(-50%,-50%);
  outline: 2px solid gray;
  animation: ball_anmie 1s infinite;
}

.background_anime_skill div{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: gray;
  outline: 2px solid gray;
  animation: ball_anmie 1s 0.1s infinite;
}

@keyframes ball_anmie {
  0%{
     outline-offset: 1px;
  }
  100%{
    outline-offset: 120px;
    opacity: 0;
  }
}